<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="showMenu">
    <ion-nav-bar class="bar-dark app-bar-header" ssf-side-menu ng-style="ssfSideMenu()">
    <!--<ion-nav-bar class="bar-calm">-->
      <ion-nav-back-button>
        {{&quot;&quot;}}
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon ng-hide" menu-toggle="left" ng-show="showMenu && !isAsideExposed" ng-class="{'online-green':$root.online, 'offline-red':!$root.online}">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="{{minWidth}}">
    <ion-header-bar class="bar-stable">
      <h1 class="title">
        MENU
      </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-click="goLobby()" ng-if="signedIn">
          Home
        </ion-item>
      <!--</ion-list>-->


      <!--<ion-list>-->
        <div class="item item-divider" ng-if="signedIn">
          Groups
        </div>
        <ion-item ng-click="nextPage(org)" ng-repeat="org in myOrgs">
          {{org.orgName}} 
          <span class="sidemenu-badge" ng-if="badges[org.orgId] && badges[org.orgId].unseenCount > 0">
            {{badges[org.orgId].unseenCount}}
          </span>
          <span class="item-note">
            {{org.status}}
          </span>
        </ion-item>



        <div class="item item-divider">
          Other
        </div>
        <ion-item ng-click="userProfile()">
          Profile
        </ion-item>
        <!--<ion-item ng-click="modal.show()">-->
        <!--  {{"SIDE_MENU.DIVIDER_2.FAQS" | translate}}-->
        <!--</ion-item>-->
        <ion-item ng-click="createEmail()">
          Feedback
        </ion-item>
        <ion-item ng-click="openEula()">
          EULA
        </ion-item>
        <ion-item ng-click="openExamples()">
          Tutorial
        </ion-item>
        <!--<ion-item ui-sref="navigation">Debugging Navigation</ion-item>-->
        <ion-item ng-click="logOut()" ng-if="signedIn">
          Sign Out
        </ion-item>
        <!--<li class="item item-toggle">-->
        <!--   Tutorial-->
        <!--   <label class="toggle toggle-dark">-->
        <!--     <input type="checkbox">-->
        <!--     <div class="track">-->
        <!--       <div class="handle"></div>-->
        <!--     </div>-->
        <!--   </label>-->
        <!--</li>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>