<ion-view view-title="Optical Character Recognition">
    <ion-nav-buttons></ion-nav-buttons>
    
    <ion-content class="padding">
        <div class="subheader">
            Test Title
        </div>
        <button class="button button-full button-assertive" ng-click="openCatalog()">
            Manage Catalog
        </button>
    </ion-content>
</ion-view>
<!--<ion-view view-title="Optical Character Recognition">-->
<!--    <ion-nav-buttons></ion-nav-buttons>-->
    
<!--    <ion-content class="padding">-->
<!--        <ion-refresher on-refresh="doRefresh()">-->
                 
<!--        </ion-refresher>-->
<!--        <img id="imageTest" width="100%" src=''>-->
<!--        <button class="item button button-block button-positive" ng-click="takePicture()">-->
<!--            Test Scanner-->
<!--        </button>-->
        <!--<div>-->
        <!--    {{imageText}}-->
        <!--</div>-->
        <!--<img ng-src="imageSrc">-->
<!--        <div id="transcription"></div>-->
<!--    </ion-content>-->
<!--</ion-view>-->